In [2]:
load_dotenv()

True

In [3]:
#Get API Key stored as variable
api_key = os.getenv("CENSUS_DATA_API_KEY")

In [5]:
#Check that key was retrieved
type(api_key)

str

In [4]:
# Define the base request URL
state_pop_url = "https://api.census.gov/data/2021/pep/population?get=NAME,POP_2021&for=state:*&key="

# Concatenate request_url and api_key. Store as new variable
state_pop_url = state_pop_url + api_key

In [20]:
state_pop_df = pd.read_json(state_pop_url)
state_pop_df.head()

              0         1      2
0          NAME  POP_2021  state
1      Oklahoma   3986639     40
2      Nebraska   1963692     31
3        Hawaii   1441553     15
4  South Dakota    895376     46

In [21]:
state_pop_df = state_pop_df.rename(columns=state_pop_df.iloc[0]).loc[1:]

In [22]:
state_pop_df.drop(columns='state', inplace=True)

In [32]:
state_pop_df = state_pop_df.set_index(state_pop_df['NAME'])
state_pop_df.drop(columns='NAME', inplace=True)

In [33]:
state_pop_df.head()

             POP_2021
NAME
Oklahoma      3986639
Nebraska      1963692
Hawaii        1441553
South Dakota   895376
Tennessee     6975218

In [36]:
state_pop_df['POP_2021'].hvplot.scatter(rot=90)

:Scatter   [NAME]   (POP_2021)

In [13]:
# Define the base request URL
income_by_age_url = "https://api.census.gov/data/2021/cps/asec/mar?get=FEARNVAL&A_AGE&for=state:*&key="

# Concatenate request_url and api_key. Store as new variable
income_by_age_url = income_by_age_url + api_key

In [14]:
income_by_age_df = pd.read_json(income_by_age_url)
income_by_age_df.head(20)

           0      1      2
0   FEARNVAL  A_AGE  state
1      10000     56     23
2      10000     57     23
3      10000     78     23
4     101000     65     23
5     101000     66     23
6     101000     28     23
7          0     72     23
8          0     46     23
9          0     11     23
10     60000     48     23
11         0     85     23
12         0     85     23
13     54700     28     23
14         0     70     23
15    104999     79     23
16    104999     49     23
17    104999     20     23
18     45000     30     23
19     97000     51     23

In [15]:
income_by_age_df = income_by_age_df.rename(columns=income_by_age_df.iloc[0]).loc[1:]
income_by_age_df.head()

  FEARNVAL A_AGE state
1    10000    56    23
2    10000    57    23
3    10000    78    23
4   101000    65    23
5   101000    66    23

In [19]:
income_by_age_df = income_by_age_df.rename(columns={'FEARNVAL':'Family Earnings Annually', 'A_AGE':'Age', 'state':'State'})
income_by_age_df.head()

  Family Earnings Annually Age State
1                    10000  56    23
2                    10000  57    23
3                    10000  78    23
4                   101000  65    23
5                   101000  66    23

In [20]:
income_by_age_df.groupby(State)

NameError: name 'State' is not defined