In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
roboadvisors_users_growth_path = Path("Resources/roboadvisors_users_growth.csv")
roboadvisors_users_growth_path_df = pd.read_csv(roboadvisors_users_growth_path)
roboadvisors_users_growth_path_df.head()

         Unnamed: 0  2017  2018   2019   2020   2021   2022
0  Users in Million  4.36  6.75  10.38  15.63  22.63  30.69

In [3]:
roboadvisors_users_growth_path_df.rename(columns={'Unnamed: 0': 'Year'}, inplace = True)
roboadvisors_users_growth_path_df.head()

               Year  2017  2018   2019   2020   2021   2022
0  Users in Million  4.36  6.75  10.38  15.63  22.63  30.69

In [4]:
#Set the Index to the Year and Remove it as a column
roboadvisors_users_growth_path_df = roboadvisors_users_growth_path_df.set_index(roboadvisors_users_growth_path_df['Year'])
roboadvisors_users_growth_path_df.drop(columns='Year', inplace=True)
roboadvisors_users_growth_path_df.head()

                  2017  2018   2019   2020   2021   2022
Year
Users in Million  4.36  6.75  10.38  15.63  22.63  30.69

In [5]:
roboadvisors_users_growth_path_df = roboadvisors_users_growth_path_df.T
roboadvisors_users_growth_path_df.head()

Year  Users in Million
2017              4.36
2018              6.75
2019             10.38
2020             15.63
2021             22.63

In [6]:
#Convert Year Index to DateTime List
dates = pd.to_datetime(roboadvisors_users_growth_path_df.index)
dates

DatetimeIndex(['2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01',
               '2021-01-01', '2022-01-01'],
              dtype='datetime64[ns]', freq=None)

In [7]:
#Add Dates to Dataframe as the new index
roboadvisors_users_growth_path_df1 = roboadvisors_users_growth_path_df.set_index(dates)
roboadvisors_users_growth_path_df1.head()

Year        Users in Million
2017-01-01              4.36
2018-01-01              6.75
2019-01-01             10.38
2020-01-01             15.63
2021-01-01             22.63

In [9]:
# Trying to add a time column as troubleshooting idea from internet research
df = roboadvisors_users_growth_path_df1.copy()

df['Time'] = np.arange(len(roboadvisors_users_growth_path_df1.index))

df.head()

Year        Users in Million  Time
2017-01-01              4.36     0
2018-01-01              6.75     1
2019-01-01             10.38     2
2020-01-01             15.63     3
2021-01-01             22.63     4

In [16]:
from sklearn.linear_model import LinearRegression

# Training data
X = df.loc[:, ['Time']]  # features
y = df.loc[:, 'Users in Million']  # target

# Train the model
model = LinearRegression()
model.fit(X, y)

# Store the fitted values as a time series with the same time index as
# the training data
y_pred = pd.Series(model.predict(X), index=X['Time'])
y_pred

Time
0     1.891905
1     7.164476
2    12.437048
3    17.709619
4    22.982190
5    28.254762
dtype: float64

In [54]:
#Trying another way I read about online
time_sample='2021-01-01'

time_stamp_index = roboadvisors_users_growth_path_df1.index.get_loc(pd.Timestamp(time_sample),method='pad')

x_train = roboadvisors_users_growth_path_df1.iloc[:time_stamp_index,:].values
y_train = roboadvisors_users_growth_path_df1.iloc[:time_stamp_index,:].values
x_test = roboadvisors_users_growth_path_df1.iloc[time_stamp_index,:].values
y_test = roboadvisors_users_growth_path_df1.iloc[time_stamp_index,:].values

In [66]:
from sklearn.linear_model import LinearRegression
import numpy as np
model = LinearRegression()
model.fit(x_train, y_train)

y_predict = model.predict(x.values.reshape(-1, 1))
y_predict

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [71]:
from sklearn.linear_model import LinearRegression
import numpy as np
model = LinearRegression()

model.fit(x.values.reshape(-1,1), y.values)

x_predict = ['2024-01-01']
y_predict = model.predict(x.values.astype(float).reshape(-1,1))
pyplot.plt(y_predict)

NameError: name 'pyplot' is not defined

In [ ]:
train_set = df.iloc[:time_stamp_index,:]
test_set = df.iloc[time_stamp_index:,:]
test_set_copy = test_set.copy()

In [26]:
from sklearn.linear_model import LinearRegression

x = roboadvisors_users_growth_path_df1['Date'] 
y = roboadvisors_users_growth_path_df1['Users in Million'] 

model = LinearRegression()
model.fit(x.values.reshape(-1,1), y)

x_predict = [['2024-01-01']]
y_predict = model.predict(x_predict)

C:\Users\Chelsea\anaconda3\envs\dev\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'