In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from fbprophet import Prophet
from pathlib import Path

In [2]:
roboadvisors_users_growth_path = Path("Resources/roboadvisors_users_growth.csv")
roboadvisors_users_growth_path_df = pd.read_csv(roboadvisors_users_growth_path)
roboadvisors_users_growth_path_df.head()

         Unnamed: 0  2017  2018   2019   2020   2021   2022
0  Users in Million  4.36  6.75  10.38  15.63  22.63  30.69

In [3]:
roboadvisors_users_growth_path_df.rename(columns={'Unnamed: 0': 'users_in_million'}, inplace = True)



roboadvisors_users_growth_path_df.head()

   users_in_million  2017  2018   2019   2020   2021   2022
0  Users in Million  4.36  6.75  10.38  15.63  22.63  30.69

In [4]:
roboadvisors_users_growth_path_df = roboadvisors_users_growth_path_df.set_index(roboadvisors_users_growth_path_df['users_in_million'])
roboadvisors_users_growth_path_df.drop(columns='users_in_million', inplace=True)

roboadvisors_users_growth_path_df.head()

                  2017  2018   2019   2020   2021   2022
users_in_million
Users in Million  4.36  6.75  10.38  15.63  22.63  30.69